svg{
  /* background:#339966; */
  background:lawngreen;
}
#dayNight{
cursor:default;
  pointer-events: none;
}
#DeathX{
cursor:default;
  pointer-events: none;
}
.rezCover{
cursor:default;
  pointer-events: none;
}
.buttonP:hover{
   border: 1px solid black;
   opacity: .5;
}
.buttonP:active:hover{
   border: 1px solid black;
   opacity: .7;
}
.soldierSprite{
    pointer-events: none;
}
