svg{
  /* background:#339966; */
  background:lawngreen;
}
#dayNight{
cursor:default;
  pointer-events: none;
}
#DeathX{
cursor:default;
  pointer-events: none;
}
.rezCover{
cursor:default;
  pointer-events: none;
}
